#inf {
    grid-area: if;
    background-color: #D0DB97;
    margin: 5px;
    border: 3px solid #3A7D44;
    padding: 5px;
    border-radius: 5px;
}

#dood1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-area: d1;
    background-color: #69B578;
    margin: 5px;
    border: 3px solid #3A7D44;
    padding: 5px;
    border-radius: 5px;
}

#dood2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-area: d2;
    background-color: #D0DB97;
    margin: 5px;
    border: 3px solid #3A7D44;
    padding: 5px;
    border-radius: 5px;
}

#dood3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-area: d3;
    background-color: #D0DB97;
    margin: 5px;
    border: 3px solid #3A7D44;
    padding: 5px;
    border-radius: 5px;
}

#dood4 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-area: d4;
    background-color: #69B578;
    margin: 5px;
    border: 3px solid #3A7D44;
    padding: 5px;
    border-radius: 5px;
}

@media screen and (max-width:500px) {
    main {
        background-color: azure;
        display: grid;
        row-gap: 20px;
        grid-template-rows: 2fr 3fr 3fr 3fr 3fr;
        grid-template-areas: 'if' 'd1' 'd2' 'd3' 'd4';
    }
    img {
        width: 90vw;
        height: 60vh;
    }
    #dood1 {flex-direction: column;}
    #dood2 {flex-direction: column;}
    #dood3 {flex-direction: column;}
    #dood4 {flex-direction: column;}
}

@media screen and (min-width:501px) {
    main {
        display: grid;
        width: 100%;
        background-color: aliceblue;
        row-gap: 20px;
        column-gap: 20px;
        grid-template-rows: 2fr 3fr 3fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        'if if'
        'd1 d2'
        'd3 d4';
    }
    img.abtus {
        width: 25vw;
        height: 40vh;
        
    }
    #dood1 {flex-direction: row;}
    #dood2 {flex-direction: row;}
    #dood3 {flex-direction: row;}
    #dood4 {flex-direction: row;}
}

