#information {
    background-color: bisque;
    grid-area: in;
    padding:10px;
    border:5px solid black;
    margin: 5px;
    border-radius: 5px;
}

#map {
    background-color: cadetblue;
    grid-area: mp;
    padding:10px;
    border:5px solid black;
    margin: 5px;
    border-radius: 5px;
}

#Ad {
    background-color: darkkhaki;
    grid-area: ad;
    padding:10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border:5px solid black;
    margin: 5px;
    border-radius: 5px;
}


#Podium {
    background-color: fuchsia;
    grid-area: pd;
    padding:10px;
    border:5px solid black;
    margin: 5px;
    border-radius: 5px;
}


@media screen and (max-width:500px) {
    main {
        background-color: azure;
        display: grid;
        grid-template-rows: 1fr 2fr 1fr 2fr;
        grid-template-areas: 'in' 'mp' 'ad' 'pd';
    }
    #Ad img {
        height: 35vh;
        width: 90vw;
    }
}

@media screen and (min-width:501px) {
    main {
        display: grid;
        background-color: aliceblue;
        grid-template-rows: 1fr 2fr 2fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        'in mp'
        'pd mp'
        'pd ad';
    }
    #Ad img {
        height: 35vh;
        width: 45vw;
    }
}