section {
    display: flex;
    border: 4px double #3a7d44;
    flex-direction: column;
    width: 90vw;
    min-height: 80vh;
    align-items: center;
    border-radius: 10px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#cb {
    width: 15px;
    height: 15px;
}