/* Colours: D0DB97 (Vanilla) , 69B578 (Emerald) , 3A7D44 (Fern Green) */


footer {
  grid-area: ft;
  background-color: #69b578;
  display: flex;
  text-align: center;
  flex-direction: column;
}

div.logo {
  grid-area: logo;
}

main {
  grid-area: mn;
  min-height: 80vh;
}


/* Dropdown Button */
header {
  height: 50px;
  width: 100%;
  grid-area: hd;
  display: grid;
  background-color: #69b578;
  z-index: 1;
  position: fixed;
  top: 0;
}

body {
  display: grid;
  row-gap: 20px;
  background-color: aliceblue;
  grid-template-rows: 50px 1fr 74vh;
  grid-template-areas: 'hd ' 'mn' 'ft';
  border: 0px;
  margin: 0px;
  padding: 0px;
}

/* The container <div> - needed to position the dropdown content */

.dropdown {
  position: fixed;
  grid-area: dropdwn;
  top: 50px;
  left: 0px;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  background-color: #f1f1f1;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.verdana {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media screen and (max-width:500px) {
  header {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'dropdownbtn logo na';
  }

  .dropbtn {
    background-color: #3a7d44;
    grid-area: dropdownbtn;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    max-width: 200px;
    min-width: 40%;
    cursor: pointer;
    height: 50px;
  }

  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #244f2b;
  }

  nav {
    grid-area: na;
    visibility: hidden;
    height: 0px;
    width: 0px;
  }
}

@media screen and (min-width:501px) {
  body {
    grid-template-areas: 'hd dropdwn' 'mn' 'ft';
  }

  header {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 'logo dropdownbtn na';
  }
  
  .dropbtn {
    grid-area: dropdownbtn;
    width: 0px;
    height: 0px;
    visibility: hidden;
  }

  .dropdown {
    width: 0px;
    height: 0px;
    visibility: hidden;
    grid-area: dropdwn;
  }

  nav {
    grid-area: na;
    height: 50px;
    display: flex;
    cursor: pointer;
    padding: 0px;
    margin: 0px;
    justify-content: end;
  }

  nav div {
    height: 45px;
    background-color: #69b578;
    display: flex;
    border: 2px solid black;
    padding: 0px 25px;
    border-radius: 5px;
    width: fit-content;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
  }

  nav div:hover {
    color: #f1f1f1;
    background-color: #244f2b;
  }
}